################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.Rproj.user
.Rhistory
renv
.Rprofile
